
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{p.name}}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

<nav class="blue-grey darken-1 z-depth-0">
<div class="nav-wrapper">
  <a href="/index" style="display: inline-block;margin-left: 2%"><img src="/static/image/logo.png" style="vertical-align: middle;"></a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="#setting">Settings</a></li>
    <li><a href="#">About us</a></li>
  </ul>
</div>
</nav>
<br>
<div class="container">
  <div class="col s12" >
  <div class="row">
    <div class="col s12 m4 l4">
      <img src="{{p.picture}}" style="width: 300px; height: 400px;">
    </div>
    <div class="col s12 m7 l7 offset-m1 offset-l1">
      <p>{{p.baike}}</p>
      <p>{{p.weibo}}</p>
      <p>{{p.zhihu}}</p>
    </div>
    </div>
  </div>
  <p>新闻</p>
  <div class="col s12 m10 l10 offset-m2 offset-l2">
  {% if news_list %}
  {% for news in news_list %}
  <a href="{{news.url}}">{{news.title}}</a>
  {% endfor %}
  {% else %}
  <p>抱歉，没有查到相关新闻</p>
  {% endif %}
  </div>
</div>

<!-- Modal Structure -->
  <div id="setting" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>模态标题</h4>
      <p>一堆文本</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">同意</a>
    </div>
  </div>

  <!--  Scripts-->
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
    $(document).ready(function() {
    $('select').material_select();
  }); 
  </script>
  </body>
</html>
