
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{p.name}}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style type="text/css">
    .parallax-container {
      height: 300px;
    }
  </style>
</head>

<body>

<div class="navbar-fixed">
<nav class="blue-grey darken-1 z-depth-0">
<div class="nav-wrapper">
  <a href="/index" style="display: inline-block;margin-left: 2%"><img src="/static/image/logo.png" style="vertical-align: middle;"></a>
    <form action="/search" method="get" class="col s8" style="display: inline-block;margin-left: 15%;width: 50%">
        <div class="input-field">
          <input id="person_search" name="content" type="search" placeholder="搜搜其他人">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="#setting"><i class="material-icons">settings</i></a></li>
    <li><a href="#"><i class="material-icons">supervisor_account</i></a></li>
  </ul>
</div>
</nav>
</div>

<br>
<div class="container">
  <div class="col s12" >
  <div class="row">
    <div class="col s12 m4 l4">
      <img src="{{p.picture}}" style="max-width:300px">
    </div>
    <div class="col s12 m7 l7 offset-m1 offset-l1">
      <p style="color:#78909c; font-size: 36px; margin-top: 0px; font-family: Microsoft Yahei, Hiragino Sans GB, Arial; opacity: 0.8;"> {{p.name}} </p>
      <p>
        {% for keyword in keywords %}
        <span class="chip">{{keyword}}</span>
        {% endfor %}
        </p>
    </div>
    <div class = "col s12 m7 l7 offset-m1 offset-l1" id="keywords">

    </div>
  </div>
  </div>
  <div class="col s12">
      {% if p.baike != 'https://'%}
      <p style="overflow:hidden;"><span><i class="material-icons">language</i></span><span style="font-weight: bold; font-size: 20px; margin-left: 10px;">百度百科</span></p>
      <hr style="margin-top: -7px; margin-bottom: 0px; opacity: 0.2;" class="col s7 offset-s3"/>
      <table width="760" border="0" align="center" cellpadding="1" cellspacing="1">  
      <tr> 
      <td> 
      <p align="center">
      <iframe width="850" height="500" src="{{p.baike}}" frameborder="no"  marginwidth="0" marginheight="0" sandbox=""  allowtransparency="yes" seamless></iframe> </p>
      </td> 
      </tr> 
      </table>
      {% endif %}
      {% if p.weibo != 'https://'%}
      <p style="overflow:hidden;"><span><i class="material-icons">language</i></span><span style="font-weight: bold; font-size: 20px; margin-left: 10px;">新浪微博</span></p>
      <hr style="margin-top: -7px; margin-bottom: 0px; opacity: 0.2;" class="col s7 offset-s3"/>
      <table width="760" border="0" align="center" cellpadding="1" cellspacing="1">  
      <tr> 
      <td> 
      <p align="center">
      <iframe width="850" height="500" src="{{p.weibo}}" frameborder="no"  marginwidth="0" marginheight="0"  allowtransparency="yes" seamless></iframe> </p>
      </td> 
      </tr> 
      </table>
      {% endif %}
      {% if p.zhihu != 'https://'%}
       <p style="overflow:hidden;"><span><i class="material-icons">language</i></span><span style="font-weight: bold; font-size: 20px; margin-left: 10px;">知乎信息</span></p>
      <hr style="margin-top: -7px; margin-bottom: 0px; opacity: 0.2;" class="col s7 offset-s3"/>
      <br>
      <div class="row col s12 m11 l11">
      <div class="col s12 m4 l4">
      <img src="{{zhihu_info.img}}">
      </div>
      <div class="col s12 m8 l8">
      <p>
      <span><i class="material-icons">perm_identity</i></span>
      <span><a href="{{p.zhihu}}" style="color:#78909c; font-weight: bold; font-size: 20px; margin-left: 10px; font-family: Microsoft Yahei, Hiragino Sans GB, Arial; opacity: 0.8;">perm_identity{{zhihu_info.name}}</a></span>
      </p>
      <p>
      <span><i class="material-icons">loyalty</i></span>
      <span style="font-size: 20px; margin-left: 10px; font-family: Microsoft Yahei, Hiragino Sans GB, Arial; opacity: 0.8;">{{zhihu_info.info}}</span>
      </p>
      </div>
      </div>
      {% endif %}
    </div>
  <p style="overflow:hidden;"><span><i class="material-icons">language</i></span><span style="font-weight: bold; font-size: 20px; margin-left: 10px;">相关新闻</span></p>
  <hr style="margin-top: -7px; margin-bottom: 0px; opacity: 0.2;" class="col s7 offset-s3"/>
  <div class="col s12 m10 l10 offset-m2 offset-l2">
  {% if news_list %}
  {% for news in news_list %}
  <p><a href="{{news.url}}">{{news.title}}</a></p>
  {% endfor %}
  {% else %}
  <p>抱歉，没有查到相关页面</p>
  {% endif %}
  </div>
</div>
<!-- <div class="parallax-container">
  <div class="parallax"><img src="/static/image/parallax3.png"></div>
</div> -->

</body>
<!-- Settings -->
  <div id="setting" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="row">
        <div class="col s6">
          <p style="font-weight: bold; font-size: 15px">
            设置
          </p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select id="threshold">
            <option value="0">较粗</option>
            <option value="1">中等</option>
            <option value="2">较细</option>
          </select>
          <label>分类精度</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <p> 重新搜索 </p>
          <p>
            <div class="switch">
              <label>
                关
              <input type="checkbox" id="re_search">
              <span class="lever"></span>
                开
              </label>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-action modal-close waves-effect waves-green btn-flat " id="apply">应用</div>
      <div class="modal-action modal-close waves-effect waves-green btn-flat ">取消</div>
    </div>
  </div>

  <!--  Scripts-->
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
    $(document).ready(function() {
    $('select').material_select();
    $("#setting").val({{th}});
  });
    $(document).ready(function(){
      $('.parallax').parallax();
    });

    $('#apply').click(function(){
      var th = $('#threshold').val();
      var content = '{{p.name}}' + '{{p.description}}';
      console.log(content);
      console.log(th);
      location.href = '/search/?th='+th+'&content='+content;
  });
  </script>
  </body>
</html>
